In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('energydataset.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,5/27/2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,5/27/2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,5/27/2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,5/27/2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,5/27/2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [6]:
df.info

<bound method DataFrame.info of                   date  Appliances  lights         T1       RH_1         T2  \
0      1/11/2016 17:00          60      30  19.890000  47.596667  19.200000
1      1/11/2016 17:10          60      30  19.890000  46.693333  19.200000
2      1/11/2016 17:20          50      30  19.890000  46.300000  19.200000
3      1/11/2016 17:30          50      40  19.890000  46.066667  19.200000
4      1/11/2016 17:40          60      40  19.890000  46.333333  19.200000
...                ...         ...     ...        ...        ...        ...
19730  5/27/2016 17:20         100       0  25.566667  46.560000  25.890000
19731  5/27/2016 17:30          90       0  25.500000  46.500000  25.754000
19732  5/27/2016 17:40         270      10  25.500000  46.596667  25.628571
19733  5/27/2016 17:50         420      10  25.500000  46.990000  25.414000
19734  5/27/2016 18:00         430      10  25.500000  46.600000  25.264286

            RH_2         T3       RH_3         T4  ...         T9     RH_9  \
0      44.790000  19.790000  44.730000  19.000000  ...  17.033333  45.5300
1      44.722500  19.790000  44.790000  19.000000  ...  17.066667  45.5600
2      44.626667  19.790000  44.933333  18.926667  ...  17.000000  45.5000
3      44.590000  19.790000  45.000000  18.890000  ...  17.000000  45.4000
4      44.530000  19.790000  45.000000  18.890000  ...  17.000000  45.4000
...          ...        ...        ...        ...  ...        ...      ...
19730  42.025714  27.200000  41.163333  24.700000  ...  23.200000  46.7900
19731  42.080000  27.133333  41.223333  24.700000  ...  23.200000  46.7900
19732  42.768571  27.050000  41.690000  24.700000  ...  23.200000  46.7900
19733  43.036000  26.890000  41.290000  24.700000  ...  23.200000  46.8175
19734  42.971429  26.823333  41.156667  24.700000  ...  23.200000  46.8450

       T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
0       6.60        733.5  92.000000   7.000000   63.000000        5.3
1       6.48        733.6  92.000000   6.666667   59.166667        5.2
2       6.37        733.7  92.000000   6.333333   55.333333        5.1
3       6.25        733.8  92.000000   6.000000   51.500000        5.0
4       6.13        733.9  92.000000   5.666667   47.666667        4.9
...      ...          ...        ...        ...         ...        ...
19730  22.70        755.2  55.666667   3.333333   23.666667       13.3
19731  22.60        755.2  56.000000   3.500000   24.500000       13.3
19732  22.50        755.2  56.333333   3.666667   25.333333       13.3
19733  22.30        755.2  56.666667   3.833333   26.166667       13.2
19734  22.20        755.2  57.000000   4.000000   27.000000       13.2

             rv1        rv2
0      13.275433  13.275433
1      18.606195  18.606195
2      28.642668  28.642668
3      45.410390  45.410390
4      10.084097  10.084097
...          ...        ...
19730  43.096812  43.096812
19731  49.282940  49.282940
19732  29.199117  29.199117
19733   6.322784   6.322784
19734  34.118851  34.118851

[19735 rows x 29 columns]>

In [8]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         date  Appliances  lights     T1   RH_1     T2   RH_2     T3   RH_3  \
0      False       False   False  False  False  False  False  False  False
1      False       False   False  False  False  False  False  False  False
2      False       False   False  False  False  False  False  False  False
3      False       False   False  False  False  False  False  False  False
4      False       False   False  False  False  False  False  False  False
...      ...         ...     ...    ...    ...    ...    ...    ...    ...
19730  False       False   False  False  False  False  False  False  False
19731  False       False   False  False  False  False  False  False  False
19732  False       False   False  False  False  False  False  False  False
19733  False       False   False  False  False  False  False  False  False
19734  False       False   False  False  False  False  False  False  False

          T4  ...     T9   RH_9  T_out  Press_mm_hg  RH_out  Windspeed  \
0      False  ...  False  False  False        False   False      False
1      False  ...  False  False  False        False   False      False
2      False  ...  False  False  False        False   False      False
3      False  ...  False  False  False        False   False      False
4      False  ...  False  False  False        False   False      False
...      ...  ...    ...    ...    ...          ...     ...        ...
19730  False  ...  False  False  False        False   False      False
19731  False  ...  False  False  False        False   False      False
19732  False  ...  False  False  False        False   False      False
19733  False  ...  False  False  False        False   False      False
19734  False  ...  False  False  False        False   False      False

       Visibility  Tdewpoint    rv1    rv2
0           False      False  False  False
1           False      False  False  False
2           False      False  False  False
3           False      False  False  False
4           False      False  False  False
...           ...        ...    ...    ...
19730       False      False  False  False
19731       False      False  False  False
19732       False      False  False  False
19733       False      False  False  False
19734       False      False  False  False

[19735 rows x 29 columns]>

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Appliances,19735.0,97.694958,102.524891,10.000000,50.000000,60.000000,100.000000,1080.000000
lights,19735.0,3.801875,7.935988,0.000000,0.000000,0.000000,0.000000,70.000000
T1,19735.0,21.686571,1.606066,16.790000,20.760000,21.600000,22.600000,26.260000
RH_1,19735.0,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.360000
T2,19735.0,20.341219,2.192974,16.100000,18.790000,20.000000,21.500000,29.856667
RH_2,19735.0,40.420420,4.069813,20.463333,37.900000,40.500000,43.260000,56.026667
T3,19735.0,22.267611,2.006111,17.200000,20.790000,22.100000,23.290000,29.236000
RH_3,19735.0,39.242500,3.254576,28.766667,36.900000,38.530000,41.760000,50.163333
T4,19735.0,20.855335,2.042884,15.100000,19.530000,20.666667,22.100000,26.200000
RH_4,19735.0,39.026904,4.341321,27.660000,35.530000,38.400000,42.156667,51.090000
T5,19735.0,19.592106,1.844623,15.330000,18.277500,19.390000,20.619643,25.795000
RH_5,19735.0,50.949283,9.022034,29.815000,45.400000,49.090000,53.663333,96.321667
T6,19735.0,7.910939,6.090347,-6.065000,3.626667,7.300000,11.256000,28.290000
RH_6,19735.0,54.609083,31.149806,1.000000,30.025000,55.290000,83.226667,99.900000
T7,19735.0,20.267106,2.109993,15.390000,18.700000,20.033333,21.600000,26.000000
RH_7,19735.0,35.388200,5.114208,23.200000,31.500000,34.863333,39.000000,51.400000
T8,19735.0,22.029107,1.956162,16.306667,20.790000,22.100000,23.390000,27.230000
RH_8,19735.0,42.936165,5.224361,29.600000,39.066667,42.375000,46.536000,58.780000
T9,19735.0,19.485828,2.014712,14.890000,18.000000,19.390000,20.600000,24.500000
RH_9,19735.0,41.552401,4.151497,29.166667,38.500000,40.900000,44.338095,53.326667
T_out,19735.0,7.412580,5.318464,-5.000000,3.670000,6.920000,10.400000,26.100000
Press_mm_hg,19735.0,755.522602,7.399441,729.300000,750.933333,756.100000,760.933333,772.300000
RH_out,19735.0,79.750418,14.901088,24.000000,70.333333,83.666667,91.666667,100.000000
Windspeed,19735.0,4.039752,2.451221,0.000000,2.000000,3.666667,5.500000,14.000000
Visibility,19735.0,38.330834,11.794719,1.000000,29.000000,40.000000,40.000000,66.000000
Tdewpoint,19735.0,3.760995,4.195248,-6.600000,0.900000,3.430000,6.570000,15.500000
rv1,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
rv2,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530

In [13]:
x = df['T2']
y = df['T6']
print(x)

0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64

In [49]:
x

0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64

In [51]:
from sklearn.metrics import r2_score
r2_score = r2_score(T2, T6)
round(r2_score, 3)

NameError: name 'T2' is not defined

In [14]:
df1 = df.drop(columns=['date','lights'])
df1

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)
print(normalised)

       Appliances        T1      RH_1        T2      RH_2        T3      RH_3  \
0        0.046729  0.327350  0.566187  0.225345  0.684038  0.215188  0.746066
1        0.046729  0.327350  0.541326  0.225345  0.682140  0.215188  0.748871
2        0.037383  0.327350  0.530502  0.225345  0.679445  0.215188  0.755569
3        0.037383  0.327350  0.524080  0.225345  0.678414  0.215188  0.758685
4        0.046729  0.327350  0.531419  0.225345  0.676727  0.215188  0.758685
...           ...       ...       ...       ...       ...       ...       ...
19730    0.084112  0.926786  0.537657  0.711655  0.606309  0.830841  0.579374
19731    0.074766  0.919747  0.536006  0.701769  0.607836  0.825302  0.582178
19732    0.242991  0.919747  0.538666  0.692651  0.627198  0.818378  0.603988
19733    0.383178  0.919747  0.549491  0.677054  0.634717  0.805085  0.585294
19734    0.392523  0.919747  0.538758  0.666171  0.632902  0.799546  0.579062

             T4      RH_4        T5  ...        T9      RH_9     T_out  \
0      0.351351  0.764262  0.175506  ...  0.223032  0.677290  0.372990
1      0.351351  0.782437  0.175506  ...  0.226500  0.678532  0.369132
2      0.344745  0.778062  0.175506  ...  0.219563  0.676049  0.365595
3      0.341441  0.770949  0.175506  ...  0.219563  0.671909  0.361736
4      0.341441  0.762697  0.178691  ...  0.219563  0.671909  0.357878
...         ...       ...       ...  ...       ...       ...       ...
19730  0.864865  0.765258  0.752031  ...  0.864724  0.729443  0.890675
19731  0.864865  0.765258  0.754897  ...  0.864724  0.729443  0.887460
19732  0.864865  0.771233  0.754897  ...  0.864724  0.729443  0.884244
19733  0.864865  0.773794  0.752031  ...  0.864724  0.730581  0.877814
19734  0.864865  0.781192  0.752031  ...  0.864724  0.731719  0.874598

       Press_mm_hg    RH_out  Windspeed  Visibility  Tdewpoint       rv1  \
0         0.097674  0.894737   0.500000    0.953846   0.538462  0.265449
1         0.100000  0.894737   0.476190    0.894872   0.533937  0.372083
2         0.102326  0.894737   0.452381    0.835897   0.529412  0.572848
3         0.104651  0.894737   0.428571    0.776923   0.524887  0.908261
4         0.106977  0.894737   0.404762    0.717949   0.520362  0.201611
...            ...       ...        ...         ...        ...       ...
19730     0.602326  0.416667   0.238095    0.348718   0.900452  0.861981
19731     0.602326  0.421053   0.250000    0.361538   0.900452  0.985726
19732     0.602326  0.425439   0.261905    0.374359   0.900452  0.583979
19733     0.602326  0.429825   0.273810    0.387179   0.895928  0.126371
19734     0.602326  0.434211   0.285714    0.400000   0.895928  0.682391

            rv2
0      0.265449
1      0.372083
2      0.572848
3      0.908261
4      0.201611
...         ...
19730  0.861981
19731  0.985726
19732  0.583979
19733  0.126371
19734  0.682391

[19735 rows x 27 columns]

In [16]:
x1 = normalised.drop(columns=['Appliances'])
y1 = normalised['Appliances']

In [19]:
from sklearn.model_selection import train_test_split

x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1,test_size=0.3, random_state=42)
print(x1_train.shape)
print(y1_train.shape)

(13814, 26)
(13814,)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model = LinearRegression()
model.fit(x1_train, y1_train)

LinearRegression()

In [24]:
y1_pred = model.predict(x1_test)

In [25]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y1_test, y1_pred)
print(round(mae,2) )

0.05

In [30]:
import numpy as np
res_sum_sqrs = np.sum(np.square(y1_test - y1_pred))
print(round(res_sum_sqrs, 2))

45.35

In [26]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y1_test, y1_pred)
rmse =np.sqrt(mean_squared_error(y1_test, y1_pred))
print(round(rmse,3))

0.088

In [32]:
from sklearn.metrics import r2_score
r2_score = r2_score(y1_test, y1_pred)
round(r2_score, 2)

0.15

In [43]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.01)
lasso_reg = lasso_reg.fit(x1_train, y1_train)

from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x1_train, y1_train)

Ridge(alpha=0.5)

In [44]:
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature 
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index() 
    weights_df.columns = ['Features', col_name] 
    weights_df[col_name].round(3)
    return weights_df

In [45]:
linear_model_weights = get_weights_df(model, x1_train, 'Linear_Model_Weight') 
ridge_weights_df = get_weights_df(ridge_reg, x1_train, 'Ridge_Weight') 
lasso_weights_df = get_weights_df(lasso_reg, x1_train, 'Lasso_weight') 
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features') 
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [39]:
print(final_weights)

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456662     -0.401113     -0.000000
1         T_out            -0.321969     -0.250943      0.000000
2            T2            -0.236198     -0.193899      0.000000
3            T9            -0.189977     -0.188615     -0.000000
4          RH_8            -0.157585     -0.156584     -0.000110
5        RH_out            -0.077748     -0.050642     -0.049557
6          RH_7            -0.044620     -0.046297     -0.000000
7          RH_9            -0.039808     -0.041707     -0.000000
8            T5            -0.015645     -0.020714     -0.000000
9            T1            -0.003242     -0.021515      0.000000
10          rv2             0.000765      0.000740     -0.000000
11          rv1             0.000765      0.000740     -0.000000
12  Press_mm_hg             0.006832      0.006511     -0.000000
13           T7             0.010350      0.010048     -0.000000
14   Visibility             0.012306      0.012032      0.000000
15         RH_5             0.016009      0.016177      0.000000
16         RH_4             0.026370      0.024155      0.000000
17           T4             0.028957      0.026986     -0.000000
18    Windspeed             0.029178      0.030457      0.002912
19         RH_6             0.038023      0.035006     -0.000000
20         RH_3             0.096095      0.095012      0.000000
21           T8             0.101995      0.100753      0.000000
22    Tdewpoint             0.117862      0.076804      0.000000
23           T6             0.236441      0.213350      0.000000
24           T3             0.290587      0.287377      0.000000
25         RH_1             0.553516      0.511910      0.017880

In [40]:
final_weights.max()

Features                    rv2
Linear_Model_Weight    0.553516
Ridge_Weight            0.51191
Lasso_weight            0.01788
dtype: object

In [41]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x1_train, y1_train)

Ridge(alpha=0.4)

In [42]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y1_test, y1_pred)
rmse =np.sqrt(mean_squared_error(y1_test, y1_pred))
print(round(rmse,3))

0.088

In [46]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg = lasso_reg.fit(x1_train, y1_train)

from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x1_train, y1_train)

def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature 
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index() 
    weights_df.columns = ['Features', col_name] 
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(model, x1_train, 'Linear_Model_Weight') 
ridge_weights_df = get_weights_df(ridge_reg, x1_train, 'Ridge_Weight') 
lasso_weights_df = get_weights_df(lasso_reg, x1_train, 'Lasso_weight') 
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features') 
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [47]:
print(final_weights)

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456662     -0.401113     -0.000000
1         T_out            -0.321969     -0.250943      0.000000
2            T2            -0.236198     -0.193899      0.000000
3            T9            -0.189977     -0.188615     -0.000000
4          RH_8            -0.157585     -0.156584     -0.000110
5        RH_out            -0.077748     -0.050642     -0.049557
6          RH_7            -0.044620     -0.046297     -0.000000
7          RH_9            -0.039808     -0.041707     -0.000000
8            T5            -0.015645     -0.020714     -0.000000
9            T1            -0.003242     -0.021515      0.000000
10          rv2             0.000765      0.000740     -0.000000
11          rv1             0.000765      0.000740     -0.000000
12  Press_mm_hg             0.006832      0.006511     -0.000000
13           T7             0.010350      0.010048     -0.000000
14   Visibility             0.012306      0.012032      0.000000
15         RH_5             0.016009      0.016177      0.000000
16         RH_4             0.026370      0.024155      0.000000
17           T4             0.028957      0.026986     -0.000000
18    Windspeed             0.029178      0.030457      0.002912
19         RH_6             0.038023      0.035006     -0.000000
20         RH_3             0.096095      0.095012      0.000000
21           T8             0.101995      0.100753      0.000000
22    Tdewpoint             0.117862      0.076804      0.000000
23           T6             0.236441      0.213350      0.000000
24           T3             0.290587      0.287377      0.000000
25         RH_1             0.553516      0.511910      0.017880

In [48]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y1_test, y1_pred)
rmse =np.sqrt(mean_squared_error(y1_test, y1_pred))
print(round(rmse,3))

0.088